%nav.categories
  %h1 Search
  = display_searchbox
  - unless @page.pages.empty? || @page.flagged_as?('landing_page');
    %h1
      ="More on This"
    - @page.pages.each do |page|
      %a{ :href => page.abspath }=page.title
      %br

  - if ! @menu_items.empty?
    %h1{:style=>"font-size:120%;text-decoration:none"}
      Featured Categories
    - display_menu(@menu_items, :class => "menu")

  %a{:href=>"/resume", :style=>"font-size:120%;text-decoration:underline"} Joshua P. Mervine
  %br
  %a{:href=>"http://twitter.com/mervinej"} Twitter
  %br
  %a{:href=>"http://linkedin.com/in/mervinej"} LinkedIn
  %br
  %a{:href=>"http://github.com/jmervine"} Github/jmervine
  %br
  %a{:href=>"https://www.gittip.com/jmervine/"} Gittip
