-#- TODO: make this more modular
:plain
  <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
  <script type="text/javascript">stLight.options({publisher: "80df436a-9769-4c43-a468-adcd0ae6ec70", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
  <span class='st_twitterfollow_large' displayText='Twitter Follow' st_username='mervinej'></span>
