Categories: archive

%h1 2012 Articles
%ol
  - Nesta::Page.find_articles.each do |page|
    - if page.date.strftime("%Y") == "2012"
      %li
        %a{ :href=>page.abspath }=page.title
        %small
          &mdash;
          - if show_disqus_comment_count?(page)
            = haml :disqus_comment, :layout => false
            %a{ :href=>"#{url(page.abspath)}#discus_thread" } Comments
          - else
            = page.date.strftime("%D %H:%M")

