- categories = %w{ zsh ruby sinatra httperf nesta rack httperfrb unicorn caching vim }.sort
- col1_index = ( (categories.size % 2) == 0 ? ((categories.size/2)-1) : (categories.size/2) )
- col2_index = ( (categories.size % 2) == 0 ? (categories.size/2)     : ((categories.size/2)+1) )
- col1 = categories[0..col1_index]
- col2 = categories[col2_index..categories.size]

%h1 Category List

%div{:style=>"width: 45%; float:left"}
  %ul
    - col1.each do |category|
      %li
        %a{ :href => "/#{category}"}= category

%div{:style=>"width: 45%; float:right" }
  %ul
    - col2.each do |category|
      %li
        %a{ :href => "/#{category}" }= category

%br{:style=>"clear:both"}
