# Chef

> Chef is an open-source automation platform built to address the hardest infrastructure challenges on the planet. Chef gives you the power and flexibility you need to move faster in a complex world - from rapid provisioning and deployment of servers to the automated delivery of applications and services—at any scale.
>
> Source: [Chef | Opscode](http://www.opscode.com/chef/)

## Chef Solo

> Chef Solo allows you to run Chef Cookbooks in the absence of a Chef Server.
>
> To provide the raw execution of cookbook recipes, the complete cookbook needs to be present on the disk.
>
> Source: [Chef Solo - Chef - Opscode](http://wiki.opscode.com/display/chef/Chef+Solo)

## Knife

> Knife is a command-line tool that provides an interface between a local Chef repository and the Chef Server. Knife helps users of Chef to manage:
>
> * Nodes
> * Cookbooks and recipes
> * Roles
> * Stores of JSON data (data bags), including encrypted data
> * Environments
> * Cloud resources, including provisioning
> * The installation of Chef on management workstations
> * Searching of indexed data on the Chef Server
>
> Source: [About Knife - Chef Documentation](http://docs.opscode.com/knife.html)

## Knife Solo

> knife-solo adds a handful of Knife commands that aim to make working with chef-solo as powerful as chef-server.
>
> Source: [knife-solo README.md](https://github.com/matschaffer/knife-solo/blob/master/README.md)

