%h1 Quotes

%style
  :plain
    .author { margin-top: -20px; margin-left: 15px }
%style
  :plain
    .quote  { margin-left: -1.75em }

%blockquote.quote
  "Light travel faster than sound, that might be the reason why some people appear bright until they speak."
.author
  %a{:href=>"https://twitter.com/SciencePorn"}@SciencePorn

%blockquote.quote
  "In devops we are happy even if is shit bad because we are know how much of worse is can able be."
.author
  %a{:href=>"https://twitter.com/DEVOPS_BORAT"}@DEVOPS_BORAT

%blockquote.quote
  "I fear the day that technology will surpass our human interaction. The world will have a generation of idiots."
.author
  Alber Einstein

%blockquote.quote
  "Technology is nothing. What's important is that you have a faith in people, that they're basically good and smart, and if you give them tools, they'll do wonderful things with them."
.author
  Steve Jobs (Rolling Stone Issue 684 June 16, 1994)

%blockquote.quote
  "Be who you are and say what you feel, because those who mind don’t matter and those who matter don’t mind."
.author
  Dr. Seuss

%blockquote.quote
  "In times of change, the learners inherit the earth the learned find themselves beautifully equipped to understand a world that no longer exists."
.author
  Eric Hoffer

%blockquote.quote
  "The greatest lesson in life is to know that even fools are right sometimes."
.author
  Winston Churchill

%blockquote.quote
  "I don't care about security, I care about the customers!"
.author
  VP Technology (3/2012), regarding web server security patching.

%blockquote.quote
  "In the corporate world, you’re either bomb shelter, the sheltered or the bomb."
.author
  Joshua Mervine [me] (3/2012)

%blockquote.quote
  We can't solve problems by using the same kind of thinking we used when we created them.
.author
  Albert Einstein

%blockquote.quote
  Wait, the site is down?... Who broke it?... Don't make me smack a bitch!
.author
  Rico [co-worker] (2012)

%br
%br

